{% load i18n %}

<table cellpadding="0" cellspacing="0" width="100%" class="sTable" data-actual="{{ timesheet_list.actual_page }}" data-max="{{ timesheet_list.max_pages }}">
    <thead>
    <tr>
        <td></td>
        <td>{% trans 'Date' %}</td>
        <td>{% trans 'Activity' %}</td>
    </tr>
    </thead>
    <tbody>

    {% for timesheet in timesheet_list %}
    <tr>
        <td><input type="checkbox" name="internal" value="{{ timesheet.id }}"></td>
        <td>{{ timesheet.InternalDueDate }}</td>
        <td>{{ timesheet.Activity }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>