{% load i18n %}

<div class="widget rightTabs" style="margin-top:0">
    <div class="title"><img src="/assets/images/icons/dark/list.png" alt="" class="titleIcon" /><h6>{% trans 'Edit timesheet' %}</h6></div>

    <form action="{% url edit_timesheet 'timesheet' timesheet.id %}" class="form ts" id="ts" method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="formRow">
                <label>{% trans 'Date, hours' %}</label>
                <div class="formRight">
                    <span class="oneTwo">{{ form.DueDate }}</span>
                    <span class="oneTwo">{{ form.Hours }}</span>
                </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">
                <label>{% trans 'Partner' %}</label>
                <div class="formRight">
                    {{ form.Partner }}
                </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">
                <label>{% trans 'Project' %}</label>
                <div class="formRight">
                    {{ form.Project }}
                </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">
                <label>{% trans 'Phase' %}</label>
                <div class="formRight">
                    {{ form.Phase }}
                </div>
                <div class="clear"></div>
            </div>

            <div class="formRow">
                <label>{% trans 'Activity' %}</label>
                <div class="formRight">
                    {{ form.Activity }}
                </div>
                <div class="clear"></div>
            </div>

            <div class="formSubmit">
                <input type="button" value="{% trans 'Delete' %}" class="redB delete_button" href="{% url delete_timesheet 'timesheet' timesheet.id %}">
                <input type="submit" value="{% trans 'Submit' %}" class="blueB">
            </div>
        </fieldset>
    </form>
</div>