{% load i18n %}

<div class="widget">
    <div class="title"><img src="/assets/images/icons/dark/users.png" alt="" class="titleIcon"><h6>{% trans 'Allocation summaries' %}</h6></div>

    <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
        <thead>
            <tr>
                <td>{% trans 'Resource' %}</td>
                <td width="80">{% trans 'Hours' %}</td>
            </tr>
        </thead>
        <tbody>
            {% for resource in resource_time_total %}
            <tr>
                <td>{{ resource.name }}</td>
                <td>{{ resource.hours.Hours__sum }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>